{{#> @story }}

  {{#> @story--chapter
    headline="A-Lia"
    description=""
  }}

    <p>Datum ~ 16.02.2016</p>

    <p>
      Kommen in einer Wüste vor einer Stadt an. <br/>
      Die Stadt trägt Cerberus Banner und ist bewacht.
    </p>

    <h4>A-Lia am Feuer</h4>
    <div class="mb-2 mt-2">
      {{#> @story--quote}}
        Ich bin erlich zu euch: Ohne euch werde ich hier sterben...
      {{/@story--quote}}
    </div>
    <div class="mb-2">
      {{#> @story--quote}}
        “Ich habe eine Bitte an euch. [senkt Kopf]. Könntet ihr mich so schnell wie möglich nach Urgal bringen. Alleine werde ich das wohl nicht überleben….”
      {{/@story--quote}}
    </div>
    <div class="mb-2">
      {{#> @story--quote}}
        “Dort sind die Rebellen welche mir helfen können und dringent von dem erfahren müssen was hier passiert ist wenn sie das nicht so selbst wissen.”
      {{/@story--quote}}
    </div>
    <div class="mb-2">
      {{#> @story--quote}}
        “Ich merke das meine Heilungskräfte stark geschwächt sind...”
      {{/@story--quote}}
    </div>
    <div class="mb-2">
      {{#> @story--quote}}
        “Wir sollten abseits der Wege gehen. Es werden sehr viele Wachpatrullien unterwegs sein”
      {{/@story--quote}}
    </div>

    <p>Mit den Sandschlitten nach Urgal</p>
  {{/@story--chapter}}

  {{#> @story--chapter
    headline="Urgal und Nasuda"
    description=""
  }}

    <ul>
      <li>
        Erd-Giya
        <ul>
          <li>Mönche</li>
          <li>
            Bleiben meist für sich -> Rebellen ausnahme
            <ul>
              <li>Möche haben Respekt vor Nasuda</li>
              <li>Amatus hat das bisher noch nicht mitbekommen und ist verwundert (Erinnert sich nicht mehr)</li>
            </ul>
          </li>
          <li>
            <strong>Amatus kommt von hier</strong>
            <ul>
              <li>Magiergruppe part off: Der Zirkel</li>
              <li>
                Meister: Gorn
                <ul>
                  <li>Hoch gewachsen älterer Mann</li>
                  <li>Langer gepflegter Bart</li>
                  <li>Moralisch / Dizipliniert mit slipupps</li>
                  <li>Misson für Amartus: Informationen Sammeln. Insbesonderer über die anderen Giya-Stämme. Alle Vereinen.</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        Schmied
        <ul>
          <li>Normaler Schmied</li>
          <li>“Komischer andere wenn ihr wollt” -> Gerald</li>
          <li>Kleiner Drache auf der Schulter</li>
        </ul>
      </li>
    </ul>

    <p>
      A-Lia ist nicht ganz bei Kräften (will nachher besser werden um Boris besiegen zu können) und die Gruppe muss Richtung Urgal fliehen.
      <br/>
      <br/>
      Dort treffen sie auf Nasuda und bekommen die Frage ob sie sich den Rebellen anschließen wollen
    </p>

    <ul>
      <li>Bitte schildert eure Ereignisse Tiberius Stormwind</li>
      <li>Ihr findet ihn bei Todd. Dort hilft er ihm.</li>
    </ul>

    <ul>
      <li>Amatus kann sich durch Todd wieder errinern. Trance durch Gesang.
        <ul>
          <li>Untergrund</li>
          <li>Schwefelgeruch</li>
          <li>Die zehn restlichen Mitglieder des Zirkels</li>
        </ul>
      </li>
    </ul>

    <h4>Todd</h4>

    <ul>
      <li>Raum in Urgal
        <ul>
          <li>Rießige hohe Höle</li>
          <li>Auf halber Höhe eine zweite kleinere Höle in der der Barde Todd sitzt. Vor sich viele kleine Kristalle die er unaufhörlich berührt</li>
          <li>https://www.youtube.com/watch?v=AiGlCnrTtdo&list=PLOk66CRMjdTGCETYVMux_lg2Yhh-hfv8Y</li>
          <li>https://soundcloud.com/user-619024403</li>
          <li>Der Raum ist eine Zuflucht für die Opfer von Boris. Die meisten sind entstellt und wollen hier einfach nur zur Ruhe kommen</li>
          <li>Let’s alter the mood -> Darft Punk derezzed</li>
        </ul>
      </li>
    </ul>

  {{/@story--chapter}}

  {{#> @story--chapter
    headline="Artefakt 1 - The Shpinx"
    description=""
  }}

    <p>
      Tiberius braucht ein Artefakt (große Lupe, in Gestell um zu sehen was in den einzelnen Dimensionen ab geht)
      Er veranlässt Nachforschungen über den Aufenthalsort <br/>
      Außer ihr wollt das selbst übernehmen
    </p>

    <p>
      Schwarze Flüssigkeit in Glaßflasche zum zerstören. kalt. <br/>
      auf dem Weg dahin Zerstörung<br/>
      Brief an Dorn mit 2g mit geheimer Nachricht.
    </p>

    <ul>
      <li>Location:
        <ul>
          <li>Gebetsstätte Westlich von Nathgarth (1 Tag von hier)</li>
          <li>See + Tempelanlage in den Berg hinein</li>
        </ul>

      </li>
    </ul>

    <ul>
      <li>Drezz sitzt auf einem Stein vor der Tempelanlage und begutachtet seine Schwerter
        <ul>
          <li>Auf einer Mission unterwegs</li>
          <li>gehört der Liga der Schatten an</li>
          <li>Die Prüfung Nemes</li>
        </ul>
      </li>

    </ul>


    <h4>See + Tempelanlage in den Berg hinein</h4>
    <p>Blutvertrag in der Kammer</p>

    <p>
      Danach <br/>
      Holzbox mit Dolch -> Gold mit Edelsteinen und einem leichten goldenen Läuchten. Kalt beim Anfassen.<br/>
      Rausteleport.
    </p>

  {{/@story--chapter}}

  {{#> @story--chapter
    headline="Training"
    description=""
  }}
    <p>
      Seelentiere <br/>
      Amulett mit Mount <br/>
      Tiberius kann Ritual vornehmen <br/>
      <br/><br/>
      Trainingsmission <br/>
      Probleme mit Hobgoblins in einem wichtigen möglichen Außenlager <br/>
      Jordan führt euch zum Tor
      <br/><br/>
      liliana und Ruck kommen mit neuen Infos zurück. es gibt drei Plätze die Boris Kraft und Kontrolle über seine Untergebenen gibt. immun sind nur die Betroffenen.<br/>
      es gibt schon sehr viele die verloren wurden der Rebellen.<br/>
      Locations:<br/>
      Verlassene Burg Östlich von Nathrath (2 Tage von hier)<br/>
      Gebetsstätte Westlich von Nathgarth (1 Tag von hier)<br/>
      In Nathgarth, im Thronsaal

    </p>
  {{/@story--chapter}}

{{/@story}}
