@mixin container-width($breakpoint, $width) {
  @include w-min($breakpoint) {

    max-width: $width;

  }
}

@mixin container-gutter($breakpoint, $gutter) {
  @include w-min($breakpoint) {

    padding: ($gutter / 2);

  }
}

@mixin container-configuration() {
  @each $name, $config in $container-configuration {

    $width: map_get($config, "width");
    $gutter: map_get($config, "gutter");

    $breakpoint: map_get($config, "breakpoint");

    @include container-width($breakpoint, $width);
    @include container-gutter($breakpoint, $gutter);

  }
}