@mixin font-face($name, $weight, $style, $file) {

  @font-face {

    font-family: $name;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$font-path}/#{$file}.eot');
    src: url('#{$font-path}/#{$file}.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/#{$file}.woff2') format('woff2'),
      url('#{$font-path}/#{$file}.woff') format('woff'),
      url('#{$font-path}/#{$file}.ttf') format('truetype')
    ;

  }

}