{{#> @story }}

  {{#> @story--chapter
    headline="Storyline"
    description=""
  }}

   <ul>
     <li>
       Streetdrug
       <ul>
         <li>Concert, Sonas (Drug)</li>
         <li>Daveak (Großvater Smilla)</li>
         <li>Magura (Lea)</li>
         <li>
           Oculus
           <ul>
             <li>Zeichen (X)</li>
           </ul>
         </li>
         <li>
           Conclusion
           <ul>
             <li>
               Ruven Usorel - Wizard (chemist)
               <Ul>
                 <li>wants to create a anti depressant</li>
                 <li>Balthasar hears about this and sees profit</li>
                 <li>
                   Forces Ruven to produce it faster an in higher dose
                   <ul>
                     <li>unstable drug with higher risk</li>
                     <li>Drug is infuesed with magic from XEO</li>
                   </ul>
                 </li>
                 <li>Balthasar works for XEO</li>
               </Ul>
             </li>
           </ul>
         </li>
       </ul>
     </li>
   </ul>

  {{/@story--chapter}}

{{/@story}}