{{#> @location }}

  <p id="emGovernment" class="display-4"><a href="#emGovernment">Government</a></p>
  <p>
    Emon is the seat of the Council of Tal’Dorei, the nation’s
    highest governing body. Though the council originally
    served under the Sovereign of Tal’Dorei, the nation’s final
    Sovereign was killed when the Chroma Conclave attacked
    Emon. Following the death of Thordak the Cinder King
    and the rest of the Conclave, Emon was rebuilt and the
    Council reformed as the backbone of the new Republic of
    Tal’Dorei. The Council and its members are described in
    detail on page 35.</p>
  <p>
    One unintended consequence of relying on magic to
    rapidly rebuild Emon is that the mages of Tal’Dorei now
    hold incredible influence over the fledgling Council. Some
    fear that without a Sovereign, the Council will be unable
    to keep the arcanists in line, and Tal’Dorei will dissolve
    into magocracy.
  </p>

  <p id="emPort"><a href="#emPort"><strong>The Port of Emon</strong></a></p>
  <hr class="border-primary"/>
  <p>The Port of Emon encompasses the massive inlet and
    series of docks that allow a vibrant flow of shipments in
    and out of the city. Over a hundred ships fill this port
    at any given time, and the dock crews are ever working,
    carrying crates and goods away to Abdar’s Promenade,
    or to the empty vessels for exportation. The northern
    sector of the Port is mostly allocated to the Everline, a
    powerful fisherman’s guild that frequently feuds with the
    shipping guild the Onyx Banner regarding dock space
    and taxing dock use. These feuds have never come to
    blows, but the Everline has begun making secret alliances
    with the sahuagin of the southern coast. What are
    they planning?</p>

  <p id="emKordsArena"><a href="#emKordsArena"><strong>Kords Arena</strong></a></p>
  <hr class="border-primary"/>
  <div class="row">

      <div class="col-sm-9">
        <ul>
          <li>Temple District</li>
        </ul>
        <p>

        </p>
      </div>

      <div class="col">
        {{> @story--charakters persons.kordsarena }}
        <img src="{{path '/images/location/theBladeshimmerShoreline/emon/kordsarena/symbolOfKord.png' }}" class="img-fluid" alt=""/>
      </div>

  </div>


{{/@location}}