{{#> @story }}

  {{#> @story--chapter
    headline="Storyline"
    description=""
  }}

    <p>Datum 03.02.2016</p>

    <h4>Übergang von Dragon Age zu Dungeon and Dragons</h4>
    <br/>
    <p>
      Ausgangsituation: Drache <br/>
      Winters Crest Festival
    </p>
    <p>Veränderung</p>
    <ul>
      <li>Das erste was ihr merkt ist ihr ein sehr ungutes gefühl bekommt. Als würde etwas nicht stimmen -- Etwas BÖSES vor sich gehen</li>
      <li>Die scharfen Konturen werden weich</li>
      <li>Die Farbe filtert mit einem dunken Lila</li>
    </ul>

    <h4>Die PCs und ihre neuen Erinnerungen</h4>
    <table class="table">
      <tr>
        <td>Dorn</td>
        <td>
          Ein dunktes Bewusstsein schleicht sich in deine Gedanken und du errinnerst dich an deinen Packt, deine Mutter, deinen Vater ….<br/>
          eine kurzen Stich nahe deines Herzens<br/>
          ihr sehr das pentagram auf dem Oberarm in dessen Mitte ein Totenkopf ist<br/>
          muskeln langer mantel<br/>
          brauner langer Mantel
        </td>
      </tr>
      <tr>
        <td>Amartus</td>
        <td>
          merkst wie eine neue Art von Magie dein Wesen durchstömt <br/>
          Du bist dir nicht sichher voher
        </td>
      </tr>
      <tr>
        <td>Kyla</td>
        <td>
          Hartes Training <br/>
          Geschäften Sinn für deinen Körper <br/>
          Elve
        </td>
      </tr>
      <tr>
        <td>Smilla, Milli</td>
        <td>
          Deine Größe ändert sich <br/>
          Du bemerkst dass deine Sprache Stärke in sich trägt <br/>
          Blaue augen (eisblau) <br/>
          Blond <br/>
          Critter Eichhörnchen
        </td>
      </tr>
      <tr>
        <td>Gargen</td>
        <td>
          Du nimmst sofort die Poses eines Kriegers an der ahnt das etwas schlimmes passiert
        </td>
      </tr>
    </table>

    <p>
      Der Drachen schrumpft und nimmt wieder die Gestallt der Frau aus dem Ei an. <br/>
      Zarte Gesichtszüge, ein blaues Schimmern, lange weise Harre und einen wilden Blick. <br/>
      Ein Blick der allmälich in einen zutifst verängstigte Grimasse sich verwandelt. <br/>
      -- Hilflos -- <br/> <br/>

      Ohne wirklich Zeit alles zu begreifen sehr ihr dass ihr von gigantischen Spinnen umzuingelt seit die euch Neuankömmlinge begrüßen wollen
    </p>
  {{/@story--chapter}}

{{/@story}}