$color-primary: rgb(35, 155, 210);
$color-primary-light: rgb(203, 230, 243);
$color-primary-lighter: rgb(238, 241, 247);
$color-primary-dark: rgb(0, 90, 120);

$color-secondary: rgb(150, 190, 23);
$color-tertiary: rgb(225, 0, 120);

$color-text: $color-primary-dark;

$color-gray-base: #000;
$color-gray-light: #ccc;
$color-gray-lighter: #b3b3b3;
$color-gray-lightest: #fff;
$color-gray-darkest: #333;
$color-gray-dark: #888;

$color-facebook: #3a5a99;
$color-twitter: #55acee;
$color-google-plus: #dc4b3e;
$color-whatsapp: #25d366;