$container-width-xs: 100%;
$container-width-sm: 730px;
$container-width-md: 940px;
$container-width-lg: 1140px;

$container-gutter-xs: 6px;
$container-gutter-sm: 12px;
$container-gutter-md: $container-gutter-sm;
$container-gutter-lg: $container-gutter-sm;

$container-configuration: (
  xs: (
    width: $container-width-xs,
    gutter: $container-gutter-xs,
    breakpoint: $responsive-breakpoint-xs-min
  ),
  sm: (
    width: $container-width-sm,
    gutter: $container-gutter-sm,
    breakpoint: $responsive-breakpoint-sm-min
  ),
  md: (
    width: $container-width-md,
    gutter: $container-gutter-md,
    breakpoint: $responsive-breakpoint-md-min
  ),
  lg: (
    width: $container-width-lg,
    gutter: $container-gutter-lg,
    breakpoint: $responsive-breakpoint-lg-min
  )
);