$grid-columns: 12;
$grid-column-width: (100% / $grid-columns);

// Gutter
$grid-gutter-xs: 6px;
$grid-gutter-sm: 12px;
$grid-gutter-md: $grid-gutter-sm;
$grid-gutter-lg: $grid-gutter-sm;

// Configuration
$grid-configuration: (
  xs: (
    min: 0,
    max: $responsive-breakpoint-xs-max,
    gutter: $grid-gutter-xs
  ),
  sm: (
    min: $responsive-breakpoint-sm-min,
    max: $responsive-breakpoint-sm-max,
    gutter: $grid-gutter-sm
  ),
  md: (
    min: $responsive-breakpoint-md-min,
    max: $responsive-breakpoint-md-max,
    gutter: $grid-gutter-md
  ),
  lg: (
    min: $responsive-breakpoint-lg-min,
    max: 0,
    gutter: $grid-gutter-lg
  )
);