{{#> @story }}


  {{#> @story--chapter
    headline="Auftrag - Brief"
    description=""
  }}
    <p>Datum ~ 03.08.2016</p>
    <h3>Hilfe!</h3>
    <p>Meine Famille und Belegschaft wurde gekidnappt. Die Summe welche verlangt wird kann ich in der kurzen Zeit unmöglich afutreiben. Sie verlangen Bezahlung innerhalb von drei Tagen ab dem Datum dieses Gesuchs.</p>
    <p>Es stehen deshalb eine Belohnung von 50 Goldstücke aus!</p>
    <p>Wer auch immer, ich bitte um eure Hilfe!</p>
    <p>
      <i>Regenald, <br/>
        3.5 Jahr 591 AZ</i>
    </p>
  {{/@story--chapter}}

{{/@story}}
