<div class="row">
  <div class="col">
    <p class="display-4">{{ headline }}</p>
    <p class="display-5 font-italic">{{ description }}</p>
    <p>{{{text}}}</p>
    {{#>@partial-block}}
    {{/@partial-block}}
  </div>
</div>
<div class="row mt-5"></div>