.tile {

  display: block;
  position: relative;
  overflow: hidden;

  padding: 0;
  margin: 0;

  width: 100%;
  height: auto;

  background-size: cover;

  &:before {

    display: block;
    content: "";

    padding-top: 66%;

  }

  &__content {

    display: block;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }

  &__text {

    display: block;
    position: absolute;

    top: 15px;
    left: 15px;

    font-weight: $font-weight-bold;
    text-transform: uppercase;
    line-height: 1;

    // BEM BREAK!

    p {

      display: block;

      padding: 0 0 4px 0;
      margin: 0;

      line-height: 1;

    }

    &--background {

      top: 5px;
      left: 5px;

      p {

        float: left;

        padding: 4px 8px;
        margin: 0 0 4px 0;

        background: $color-primary;

      }

    }

  }

}