@each $config in $font-configuration {

  $name: map_get($config, "family");
  $weight: map_get($config, "weight");
  $style: map_get($config, "style");
  $file: map_get($config, "file");

  @include font-face($name, $weight, $style, $file);

}