{{#> @story }}

  {{#> @story--chapter
    headline="Setting / Recap"
    description=""
  }}
    <p>

    </p>

  {{/@story--chapter}}

  {{#> @story--chapter
    headline="Caras Traum"
    description=""
  }}

    <h4>Caras Traum</h4>
    <p>
   </p>

  {{/@story--chapter }}

{{/@story}}