{{#> @story }}

  <ul>
    <li>
      Wizard (chemist)
      <Ul>
        <li>
          wants to create a anti depressant
          <ul>
            <li>Something horrible happend</li>
            <li>He "stopps working" when forced to talk about it</li>
          </ul>
        </li>
        <li>Balthasar hears about this and sees profit</li>
        <li>
          Forces Wizard to produce it faster an in higher dose
          <ul>
            <li>unstable drug with higher risk</li>
            <li>Drug is infuesed with magic from XEO</li>
          </ul>
        </li>
        <li>Balthasar works for XEO</li>
      </Ul>
    </li>
  </ul>

  <br/>
  <br/>

  {{#> @story--chapter
    headline="The Concert"
    description="How did they come together"
  }}

    <ul>
      <li>
        Exposure to the drug
        <ul><li>"Wonna try da new high? sonas is da best!"</li></ul>
      </li>
      <li>
        Getting to know that the drug is dangerous
        <ul>
          <li>You can go rapid afterwards and not remember it</li>
        </ul>
      </li>
    </ul>

  {{/@story--chapter }}

  {{#> @story--chapter
    headline="The Investigation"
    description="How did they come together"
  }}

    <ul>
      <li>
        Exposure to the drug
        <ul><li>"Wonna try da new high? sonas is da best!"</li></ul>
      </li>
      <li>
        Getting to know that the drug is dangerous
        <ul>
          <li>You can go rapid afterwards and not remember it</li>
        </ul>
      </li>
    </ul>

    <h4>The Pushers</h4>
    <p>Have the eye of ocules ( X ) in gray on there black ropes</p>

  {{/@story--chapter }}

  {{#> @story--chapter
    headline="The Bust"
    description="How did they come together"
  }}

    <ul>
      <li>
        Exposure to the drug
        <ul><li>"Wonna try da new high? sonas is da best!"</li></ul>
      </li>
      <li>
        Getting to know that the drug is dangerous
        <ul>
          <li>You can go rapid afterwards and not remember it</li>
        </ul>
      </li>
    </ul>

  {{/@story--chapter }}

{{/@story}}