<div class="row location">
  <div class="col">
    <h1>
      {{#if link}}
        <a href="{{ link }}" target="_blank">{{ info.name }}</a>
      {{else}}
        {{ info.name }}
      {{/if}}
    </h1>

    <div class="row justify-content-between">

      <div class="col">
        {{> @location--info-table }}
        <div class="mt-3"></div>
      </div>

      <div class="col-md-auto location__margin">
        {{> @location--images}}
        {{#if referencePersons}}
          <div class="mt-3">
            <p>Verknüpfte Personen</p>
          </div>
          {{> @npc--reference-persons }}
        {{/if}}
      </div>

    </div>

    <div class="row">
      <div class="col">
        {{> @location--info-text }}
        {{#>@partial-block}}
        {{/@partial-block}}

        <div class="mb-5"></div>
      </div>
    </div>
  </div>
</div>

