<div class="row">
  <div class="col">
    <h1>{{ info.name }}</h1>

    <div class="row justify-content-between">
      <div class="col">
        {{> @location--info-table }}
        <div class="mt-3"></div>
        {{> @location--info-text }}
      </div>
    </div>
  </div>
</div>

