<section class="storyboard">
  <h1 class="storyboard__headline">The Burning Eight</h1>
  <p class="storyboard__intro">
    The sun god Pelor (the Dawnfather), is transforming from a benevolent deity of Neutral Good to a wrathful deity of Neutral Evil. In his battle against Tharizdun (the Chained Oblivion) in the Dawn War (the Divergence), a seed of Tharizdun’s evil was planted in his heart. Now, nihilistic cultists seek to hasten Pelor’s transformation into what they believe to be his true form—a sun that does not give life, but one that destroys it. They seek to transform him into the Burning Hate, a fiery star that they can use as a weapon to destroy their enemies.
    <br/><br/>
    The Cult of the Burning Hate is led by a man who calls himself the Grand Theurge, a smug, self-righteous priest cast out of Pelor’s church for heresy. He seeks to destroy the church of Pelor as retribution for his excommunication, for transforming Pelor into a deity of evil will not only augment his power as a worshiper of the Burning Hate, but sever the divine connection from all of Pelor’s current followers as their god is destroyed and reborn.
    <br/><br/>
    The leadership of the Cult of the Burning Hate is comprised of eight spellcasters; seven that represent one color of the visible spectrum, and the Grand Theurge who represents all visible light. In combatting the Roland the Crimson, for example, the characters will fight combat not only this wizard’s fire magic but also learn about the red prismatic wall in isolation, as described earlier in this article. These eight spellcasters have entrenched themselves in the nations of the realm in an attempt to recover powerful magical artifacts (the Vestiges of Divergence) in order to allow the Grand Theurge to conduct his ritual of transformation.
    <br/><br/>
    In this campaign, the red wizard Roland the Crimson has infiltrated a society of fire elementalists (the Fire Ashari). The orange cleric Oumak the Ochre has become the religious advisor to the Church of Pelor (the Dawnfather) in the capital city (Emon). The yellow bard Yvonne the Golden is a traveling performer that frequents high-class bars around the land, but has a lair in a gambling city (Kymal). The green druid Gessylir the Verdant has become the advisor to the monarch of the elves in their home city (Syngorn). The blue druid Bolivar the Cerulean has supplanted the ruler of a clan of water elementalists (the Water Ashari). The indigo paladin Ivar the Ultramarine has become the new ruler of a major trading down (becoming the Margrave of Westruun). The violet warlock Viola the Amethyst has assassinated and replaced the head of a major dwarven clan in their home city (Kraghammer).
    <br/><br/>
    Finally, the white cleric, the Grand Theurge, Wilhelm of Many Colors, has become the ruler of Pelor’s holy city (Whitestone). In Tal’Dorei, he may be one of Lady Vex’ahlia and Lord Percival’s sons, or perhaps this campaign takes place in a completely different time period, before the adventures of Vox Machina.
    <br/><br/>
    This campaign toys with the common dichotomy of light and darkness by casting a Light cleric as the ultimate enemy of the campaign. Giving the good-aligned PCs free reign to use dark magic to combat evil light is a fun twist for PCs and DMs alike. Each of these antagonists wields different spells and a different color of the prismatic wall, eventually leading to a climax with corrupted celestials of flame and hatred… and the full prismatic wall itself.
  </p>

  {{#> @storyboard--milestone
    headline="Roland the Crimson - Red Wizard"
  }}

    {{#> @storyboard--chapter
      headline="Chapter 1"
    }}
      <p>My Chapter 1</p>
    {{/@storyboard--chapter}}

    {{#> @storyboard--chapter
      headline="Chapter 2"
    }}
      <p>My Chapter 2</p>
    {{/@storyboard--chapter}}

    {{#> @storyboard--chapter
      headline="Chapter 3"
    }}
      <p>My Chapter 3</p>
    {{/@storyboard--chapter}}

    {{#> @storyboard--chapter
      headline="Chapter 4"
    }}
      <p>My Chapter 4</p>
    {{/@storyboard--chapter}}

    {{#> @storyboard--chapter
      headline="Chapter 1"
    }}
      <p>My Chapter 1</p>
    {{/@storyboard--chapter}}

    {{#> @storyboard--chapter
      headline="Chapter 2"
    }}
      <p>My Chapter 2</p>
    {{/@storyboard--chapter}}

    {{#> @storyboard--chapter
      headline="Chapter 3"
    }}
      <p>My Chapter 3</p>
    {{/@storyboard--chapter}}

    {{#> @storyboard--chapter
      headline="Chapter 4"
    }}
      <p>My Chapter 4</p>
    {{/@storyboard--chapter}}

  {{/@storyboard--milestone}}

  {{#> @storyboard--milestone
    headline="Roland the Crimson - Red Wizard"
  }}

    {{#> @storyboard--chapter
      headline="Chapter 1"
    }}
      <p>My Chapter 1</p>
    {{/@storyboard--chapter}}

    {{#> @storyboard--chapter
      headline="Chapter 2"
    }}
      <p>My Chapter 2</p>
    {{/@storyboard--chapter}}

    {{#> @storyboard--chapter
      headline="Chapter 3"
    }}
      <p>My Chapter 3</p>
    {{/@storyboard--chapter}}

    {{#> @storyboard--chapter
      headline="Chapter 4"
    }}
      <p>My Chapter 4</p>
    {{/@storyboard--chapter}}

  {{/@storyboard--milestone}}

</section>