<div class="row">
  <div class="col-sm-8">
    {{#each chapters}}
      {{> @story--chapter }}
    {{/each}}
    {{#>@partial-block}}
    {{/@partial-block}}
  </div>
  <div class="col-sm-4">
    {{> @story--locations }}
    {{> @story--charakters }}
  </div>
</div>